## 1) Write a python program to display all the header tags from wikipedia.org.

In [1]:
from bs4 import BeautifulSoup
import requests
import lxml
import numpy as np
import pandas as pd

In [2]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
page
soup = BeautifulSoup(page.content)
header_tags = []
for main_file in soup.find_all('h2',class_= "mp-h2"):
    header_tags.append(main_file.text)
df = pd.DataFrame(header_tags,columns = ['Header Tags'])
df

                     Header Tags
0  From today's featured article
1               Did you know ...
2                    In the news
3                    On this day
4       Today's featured picture
5       Other areas of Wikipedia
6    Wikipedia's sister projects
7            Wikipedia languages

## 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release and make data frame.

In [3]:
URL1 = 'https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc'
URL2 = 'https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt'
page1 = requests.get(URL1)
page2 = requests.get(URL2)
page1
page2

In [4]:
soup = BeautifulSoup(page1.content)
soup2 = BeautifulSoup(page2.content)

In [5]:
df_f = []
for main_file in soup.find_all('div',class_="lister-item-content"):
    heading = main_file.h3.a.text
    rating = main_file.find('div',class_="inline-block ratings-imdb-rating").text.strip('\n')
    release_year = main_file.h3.find("span",class_="lister-item-year text-muted unbold").text.strip('()')
    df = (heading,rating,release_year)
    df_f.append(df)
for main_file in soup2.find_all('div',class_="lister-item-content"):
    heading = main_file.h3.a.text
    rating = main_file.find('div',class_="inline-block ratings-imdb-rating").text.strip('\n')
    release_year = main_file.h3.find("span",class_="lister-item-year text-muted unbold").text.strip('()')
    df = (heading,rating,release_year)
    df_f.append(df)
df_final = pd.DataFrame(df_f,columns=['Movie_Name','Rating','Year'])
df_final

                                       Movie_Name Rating  Year
0                        The Shawshank Redemption    9.3  1994
1                                   The Godfather    9.2  1972
2                                 The Dark Knight    9.1  2008
3   The Lord of the Rings: The Return of the King    9.0  2003
4                                Schindler's List    9.0  1993
..                                            ...    ...   ...
95                             North by Northwest    8.3  1959
96                                        Vertigo    8.3  1958
97                            Singin' in the Rain    8.3  1952
98                                   Citizen Kane    8.3  1941
99              M - Eine Stadt sucht einen Mörder    8.3  1931

[100 rows x 3 columns]

## 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [6]:
URL = 'https://www.imdb.com/india/top-rated-indian-movies/'
page = requests.get(URL).text
soup = BeautifulSoup(page,'lxml')

df_1 = []
for td in soup.find_all('td',class_="titleColumn"):
    Rank = td.text.strip().split('\n')[0].strip('.')
    Name = td.text.strip().split('\n')[1]
    Year = td.text.strip().split('\n')[2].strip('()')
    df_1.append([Rank,Name,Year])
df_2 = []
for td in soup.find_all('td',class_="ratingColumn imdbRating"):
    Rating = td.text.strip()
    df_2.append([Rating])
df1 = pd.DataFrame(df_1,columns=['Rank','Name','Year'])
df2 = pd.DataFrame(df_2,columns=['Rating'])
df1['Rating'] = df2
df1
imdb_top100_Indian_Movies = df1.iloc[:100,:]
imdb_top100_Indian_Movies

   Rank                           Name  Year Rating
0     1                       Jai Bhim  2021    8.4
1     2                     Anbe Sivam  2003    8.4
2     3              Pariyerum Perumal  2018    8.4
3     4                        Golmaal  1979    8.4
4     5                        Nayakan  1987    8.4
..  ...                            ...   ...    ...
95   96                         Sholay  1975    8.0
96   97               K.G.F: Chapter 1  2018    8.0
97   98                         Angoor  1982    8.0
98   99                      Virumandi  2004    8.0
99  100        Maheshinte Prathikaaram  2016    8.0

[100 rows x 4 columns]

## 4) Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7vbp .

In [7]:
no_pages = int(input('Please enter the number of pages you want the data for :'))+1

URL = []
for i in range(1,no_pages):
    url = ('https://meesho.com/bags-ladies/pl/p7vbp?page={}'.format(i))
    URL.append(url)
print(URL)

meesho = []
for i in URL:
    page = requests.get(i)
    soup = BeautifulSoup(page.content)
    for main_file in soup.find_all('div',class_='sc-dkzDqf ProductList__GridCol-sc-8lnc8o-0 kEYUOG ZnDzz'):
        title = main_file.a.p.text
        price = main_file.a.h5.text.replace('₹','')
        discount = main_file.find('div',class_="Card__BaseCard-sc-b3n78k-0 fVRkfg NewProductCard__PriceRow-sc-j0e7tu-5 dYYUrF NewProductCard__PriceRow-sc-j0e7tu-5 dYYUrF").span.text.split(' ')[0]
        meesho.append([title,price,discount])
meesho_final = pd.DataFrame(meesho,columns=['Product Name','Price','Discounts'])
#meesho_final.to_excel('Meesho.xlsx')
meesho_final

Please enter the number of pages you want the data for :10
['https://meesho.com/bags-ladies/pl/p7vbp?page=1', 'https://meesho.com/bags-ladies/pl/p7vbp?page=2', 'https://meesho.com/bags-ladies/pl/p7vbp?page=3', 'https://meesho.com/bags-ladies/pl/p7vbp?page=4', 'https://meesho.com/bags-ladies/pl/p7vbp?page=5', 'https://meesho.com/bags-ladies/pl/p7vbp?page=6', 'https://meesho.com/bags-ladies/pl/p7vbp?page=7', 'https://meesho.com/bags-ladies/pl/p7vbp?page=8', 'https://meesho.com/bags-ladies/pl/p7vbp?page=9', 'https://meesho.com/bags-ladies/pl/p7vbp?page=10']

                           Product Name Price Discounts
0       Voguish Alluring Women Handbags   584       15%
1       Gorgeous Stylish Women Handbags   351       22%
2    Ravishing Versatile Women Handbags   484       17%
3         Elite Alluring Women Handbags   281       26%
4        Ravishing Fancy Women Handbags   469       18%
..                                  ...   ...       ...
155                           Handbags    685       13%
156    Gorgeous Alluring Women Handbags   663       13%
157  Elegant Fashionable Women Handbags   684       13%
158   Graceful Versatile Women Handbags   210       30%
159   Graceful Versatile Women Handbags   384       21%

[160 rows x 3 columns]

## 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

### a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [8]:
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
page = requests.get(url).text
soup = BeautifulSoup(page,'lxml')

data = []
main_file1 = soup.find('tr',class_="rankings-block__banner")
position = main_file1.find('td',class_="rankings-block__banner--pos").text
team = main_file1.find('span',class_="u-hide-phablet").text
matches = main_file1.find('td',class_="rankings-block__banner--matches").text
points = main_file1.find('td',class_="rankings-block__banner--points").text
rating = main_file1.find('td',class_="rankings-block__banner--rating u-text-right").text.strip()
data.append([position,team,matches,points,rating])


data1 = []
counter = 1
for main_file in soup.find_all('tr',class_="table-body"):
    if counter != 10:
        position = main_file.td.text
        team = main_file.find('span',class_="u-hide-phablet").text
        m = []
        for x in main_file.find_all('td',class_="table-body__cell u-center-text"):
            m.append(x.text)
        matches = m[0]
        points = m[1]
        rating = main_file.find('td',class_="table-body__cell u-text-right rating").text
        data1.append([position,team,matches,points,rating])
        counter+=1
    else:
        break
final_df = data+data1
Top_10_ODI_teams_men = pd.DataFrame(final_df,columns=['Position','Team','Matches','Points','Rating']).style.hide_index()
Top_10_ODI_teams_men

### b) Top 10 ODI Batsmen along with the records of their team and rating.

In [9]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting').text
soup = BeautifulSoup(page,'lxml')

data1 = []
main_file1 = soup.find('tr',class_="rankings-block__banner")
name = main_file1.find('div',class_="rankings-block__banner--name-large").text
team = main_file1.find('div',class_="rankings-block__banner--nationality").text.strip()
points = main_file1.find('div',class_="rankings-block__banner--rating").text
career_best = main_file1.find('span',class_="rankings-block__career-best-text").text.strip().split(',')[0]
career_best_date = main_file1.find('span',class_="rankings-block__career-best-text").text.strip().split(',')[1]
data1.append([name,team,points,career_best,career_best_date])


data = []
counter = 1
for main_file in soup.find_all('tr',class_="table-body"):
    if counter != 10:
        name = main_file.find('td',class_="table-body__cell rankings-table__name name").a.text
        team = main_file.find('span',class_="table-body__logo-text").text
        points = main_file.find('td',class_="table-body__cell rating").text
        career_best = main_file.find('td',class_="table-body__cell u-text-right u-hide-phablet").text.strip().split(',')[0]
        career_best_date = main_file.find('td',class_="table-body__cell u-text-right u-hide-phablet").text.strip().split(',')[1]
        data.append([name,team,points,career_best,career_best_date])
        counter+=1
    else:
        break


final_df = data1+data
Top_10_men_Batting_players=pd.DataFrame(final_df,columns=['Player','Team','Rating','Career Best Rating','Career Best Date'])
Top_10_men_Batting_players

                  Player Team Rating Career Best Rating Career Best Date
0             Babar Azam  PAK    873      873 v England       13/07/2021
1            Virat Kohli  IND    811      911 v England       12/07/2018
2        Quinton de Kock   SA    796    813 v Sri Lanka       10/03/2019
3           Rohit Sharma  IND    791    885 v Sri Lanka       06/07/2019
4            Aaron Finch  AUS    779      798 v England       25/06/2019
5  Rassie van der Dussen   SA    776   776 v Bangladesh       20/03/2022
6         Jonny Bairstow  ENG    775        796 v India       26/03/2021
7           David Warner  AUS    762     880 v Pakistan       26/01/2017
8           Fakhar Zaman  PAK    741      779 v England       08/07/2021
9               Joe Root  ENG    740    824 v Sri Lanka       13/10/2018

### c) Top 10 ODI bowlers along with the records of their team and rating.

In [10]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling').text
soup = BeautifulSoup(page,'lxml')

data1 = []
main_file1 = soup.find('tr',class_="rankings-block__banner")
name = main_file1.find('div',class_="rankings-block__banner--name-large").text
team = main_file1.find('div',class_="rankings-block__banner--nationality").text.strip()
points = main_file1.find('div',class_="rankings-block__banner--rating").text
career_best = main_file1.find('span',class_="rankings-block__career-best-text").text.strip().split(',')[0]
career_best_date = main_file1.find('span',class_="rankings-block__career-best-text").text.strip().split(',')[1]
data1.append([name,team,points,career_best,career_best_date])


data = []
counter = 1
for main_file in soup.find_all('tr',class_="table-body"):
    if counter != 10:
        name = main_file.find('td',class_="table-body__cell rankings-table__name name").a.text
        team = main_file.find('span',class_="table-body__logo-text").text
        points = main_file.find('td',class_="table-body__cell rating").text
        career_best = main_file.find('td',class_="table-body__cell u-text-right u-hide-phablet").text.strip().split(',')[0]
        career_best_date = main_file.find('td',class_="table-body__cell u-text-right u-hide-phablet").text.strip().split(',')[1]
        data.append([name,team,points,career_best,career_best_date])
        counter+=1
    else:
        break


final_df = data1+data
Top_10_men_Bowling_players=pd.DataFrame(final_df,columns=['Player','Team','Rating','Career Best Rating','Career Best Date'])
Top_10_men_Bowling_players

             Player Team Rating Career Best Rating Career Best Date
0       Trent Boult   NZ    737  770 v West Indies       22/06/2019
1    Josh Hazlewood  AUS    709      733 v England       26/01/2018
2      Chris Woakes  ENG    700    711 v Sri Lanka       04/07/2021
3        Matt Henry   NZ    691   691 v Bangladesh       26/03/2021
4  Mujeeb Ur Rahman  AFG    681      712 v Ireland       24/01/2021
5    Jasprit Bumrah  IND    679  841 v West Indies       01/11/2018
6      Mehedi Hasan  BAN    664    725 v Sri Lanka       25/05/2021
7     Kagiso Rabada   SA    658      724 v England       29/05/2017
8    Mitchell Starc  AUS    652  783 v New Zealand       29/03/2015
9       Rashid Khan  AFG    650     806 v Pakistan       21/09/2018

## 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

### a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [11]:
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
page = requests.get(url).text
soup = BeautifulSoup(page,'lxml')

data = []
main_file1 = soup.find('tr',class_="rankings-block__banner")
position = main_file1.find('td',class_="rankings-block__banner--pos").text
team = main_file1.find('span',class_="u-hide-phablet").text
matches = main_file1.find('td',class_="rankings-block__banner--matches").text
points = main_file1.find('td',class_="rankings-block__banner--points").text
rating = main_file1.find('td',class_="rankings-block__banner--rating u-text-right").text.strip()
data.append([position,team,matches,points,rating])


data1 = []
counter = 1
for main_file in soup.find_all('tr',class_="table-body"):
    if counter != 10:
        position = main_file.td.text
        team = main_file.find('span',class_="u-hide-phablet").text
        m = []
        for x in main_file.find_all('td',class_="table-body__cell u-center-text"):
            m.append(x.text)
        matches = m[0]
        points = m[1]
        rating = main_file.find('td',class_="table-body__cell u-text-right rating").text
        data1.append([position,team,matches,points,rating])
        counter+=1
    else:
        break
final_df = data+data1
Top_10_ODI_teams_women = pd.DataFrame(final_df,columns=['Position','Team','Matches','Points','Rating']).style.hide_index()
Top_10_ODI_teams_women

### b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [12]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting').text
soup = BeautifulSoup(page,'lxml')

data1 = []
main_file1 = soup.find('tr',class_="rankings-block__banner")
name = main_file1.find('div',class_="rankings-block__banner--name-large").text
team = main_file1.find('div',class_="rankings-block__banner--nationality").text.strip()
points = main_file1.find('div',class_="rankings-block__banner--rating").text
career_best = main_file1.find('span',class_="rankings-block__career-best-text").text.strip().split(',')[0]
career_best_date = main_file1.find('span',class_="rankings-block__career-best-text").text.strip().split(',')[1]
data1.append([name,team,points,career_best,career_best_date])


data = []
counter = 1
for main_file in soup.find_all('tr',class_="table-body"):
    if counter != 10:
        name = main_file.find('td',class_="table-body__cell rankings-table__name name").a.text
        team = main_file.find('span',class_="table-body__logo-text").text
        points = main_file.find('td',class_="table-body__cell rating").text
        career_best = main_file.find('td',class_="table-body__cell u-text-right u-hide-phablet").text.strip().split(',')[0]
        career_best_date = main_file.find('td',class_="table-body__cell u-text-right u-hide-phablet").text.strip().split(',')[1]
        data.append([name,team,points,career_best,career_best_date])
        counter+=1
    else:
        break


final_df = data1+data
Top_10_women_Batting_players=pd.DataFrame(final_df,columns=['Player','Team','Rating','Career Best','Career Best Date'])
Top_10_women_Batting_players

              Player Team Rating        Career Best Career Best Date
0       Alyssa Healy  AUS    730        776 v India       21/09/2021
1        Beth Mooney  AUS    725      734 v England       03/02/2022
2    Laura Wolvaardt   SA    720        725 v India       07/03/2021
3        Meg Lanning  AUS    715  834 v New Zealand       24/02/2016
4     Rachael Haynes  AUS    712  713 v West Indies       15/03/2022
5     Natalie Sciver  ENG    705        712 v India       25/02/2019
6     Tammy Beaumont  ENG    701        791 v India       27/06/2021
7  Amy Satterthwaite   NZ    696    756 v Australia       02/03/2017
8        Mithali Raj  IND    696    839 v Australia       24/12/2004
9    Smriti Mandhana  IND    663      797 v England       28/02/2019

### c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [13]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling').text
soup = BeautifulSoup(page,'lxml')

data1 = []
main_file1 = soup.find('tr',class_="rankings-block__banner")
name = main_file1.find('div',class_="rankings-block__banner--name-large").text
team = main_file1.find('div',class_="rankings-block__banner--nationality").text.strip()
points = main_file1.find('div',class_="rankings-block__banner--rating").text
career_best = main_file1.find('span',class_="rankings-block__career-best-text").text.strip().split(',')[0]
career_best_date = main_file1.find('span',class_="rankings-block__career-best-text").text.strip().split(',')[1]
data1.append([name,team,points,career_best,career_best_date])


data = []
counter = 1
for main_file in soup.find_all('tr',class_="table-body"):
    if counter != 10:
        name = main_file.find('td',class_="table-body__cell rankings-table__name name").a.text
        team = main_file.find('span',class_="table-body__logo-text").text
        points = main_file.find('td',class_="table-body__cell rating").text
        career_best = main_file.find('td',class_="table-body__cell u-text-right u-hide-phablet").text.strip().split(',')[0]
        career_best_date = main_file.find('td',class_="table-body__cell u-text-right u-hide-phablet").text.strip().split(',')[1]
        data.append([name,team,points,career_best,career_best_date])
        counter+=1
    else:
        break


final_df = data1+data
Top_10_women_Bowling_players=pd.DataFrame(final_df,columns=['Player','Team','Rating','Career Best Rating','Career Best Date'])
Top_10_women_Bowling_players

              Player Team Rating Career Best Rating Career Best Date
0  Sophie Ecclestone  ENG    773  773 v New Zealand       20/03/2022
1      Jess Jonassen  AUS    726  808 v New Zealand       10/04/2021
2       Megan Schutt  AUS    716  766 v West Indies       11/09/2019
3     Shabnim Ismail   SA    713        743 v India       07/03/2021
4     Marizanne Kapp   SA    688  749 v West Indies       10/09/2021
5     Ayabonga Khaka   SA    680  680 v New Zealand       17/03/2022
6     Jhulan Goswami  IND    674      796 v England       28/02/2007
7       Ellyse Perry  AUS    648  719 v West Indies       05/09/2019
8    Hayley Matthews   WI    643   644 v Bangladesh       18/03/2022
9         Kate Cross  ENG    623  623 v New Zealand       20/03/2022

## 7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content and the code for the video from the link for the youtube video from the post.

In [14]:
URL = []
for i in range(1,18):
    url = 'https://coreyms.com/page/{}'.format(i)
    URL.append(url)

corey = []
for i in URL:
    print('working on :', i)
    page = requests.get(i)
    soup = BeautifulSoup(page.content)


    for main_file in soup.find_all('article'):
        Heading = main_file.h2.a.text
        Date = pd.to_datetime(main_file.find('time',class_="entry-time").text)
        Content = main_file.find('div',class_="entry-content").p.text
        try:
            url = main_file.find('iframe',class_="youtube-player")['src'].split('/')[4].split('?')[0]
            YouTube_url = 'https://youtube.com/watch?v='+url
        except:
            YouTube_url = 'YouTube_url : Not Available'
        corey.append([Heading,Date,Content,YouTube_url])
Corey_MS = pd.DataFrame(corey,columns=['Heading','Date','Content','YouTube_url'])
Corey_MS

working on : https://coreyms.com/page/1
working on : https://coreyms.com/page/2
working on : https://coreyms.com/page/3
working on : https://coreyms.com/page/4
working on : https://coreyms.com/page/5
working on : https://coreyms.com/page/6
working on : https://coreyms.com/page/7
working on : https://coreyms.com/page/8
working on : https://coreyms.com/page/9
working on : https://coreyms.com/page/10
working on : https://coreyms.com/page/11
working on : https://coreyms.com/page/12
working on : https://coreyms.com/page/13
working on : https://coreyms.com/page/14
working on : https://coreyms.com/page/15
working on : https://coreyms.com/page/16
working on : https://coreyms.com/page/17

,Heading,Date,Content,YouTube_url
0,Python Tutorial: Zip Files – Creating and Extr...,2019-11-19,"In this video, we will be learning how to crea...",https://youtube.com/watch?v=z0gguhEmWiY
1,Python Data Science Tutorial: Analyzing the 20...,2019-10-17,"In this Python Programming video, we will be l...",https://youtube.com/watch?v=_P7X8tMplsw
2,Python Multiprocessing Tutorial: Run Code in P...,2019-09-21,"In this Python Programming video, we will be l...",https://youtube.com/watch?v=fKl2JW_qrso
3,Python Threading Tutorial: Run Code Concurrent...,2019-09-12,"In this Python Programming video, we will be l...",https://youtube.com/watch?v=IEEhzQoKtQU
4,Update (2019-09-03),2019-09-03,Hey everyone. I wanted to give you an update o...,YouTube_url : Not Available
...,...,...,...,...
157,Quick Tip: Use a Wooden Pallet as a Lumber Rack,2014-04-21,Making a lumber rack for the workshop is a tas...,YouTube_url : Not Available
158,How to Record Sound From Your Computer’s Speak...,2014-03-02,"At times, you may want to record sound from yo...",YouTube_url : Not Available
159,Ems and Rems for Sizing,2013-09-21,Ems and Rems both are scalable units in CSS wh...,YouTube_url : Not Available
160,How to Build a Pergola,2013-09-12,,YouTube_url : Not Available
161,Adding Custom Web Fonts to Your Web Site Using...,2013-07-01,Adding custom web fonts to your website is one...,https://youtube.com/watch?v=y2AlgMII1OU

## 8) Write a python program to scrape house details from mentioned URL. It should include house title, location,area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar.

In [15]:
url = 'https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45OTgxNzMyLCJsb24iOjc3LjU1MzA0NDU5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnhmVzREUE05cmpzUktzTlRHLTVwX1FRIiwicGxhY2VOYW1lIjoiUmFqYWppbmFnYXIifSx7ImxhdCI6MTIuOTMwNzczNSwibG9uIjo3Ny41ODM4MzAyLCJwbGFjZUlkIjoiQ2hJSjJkZGxaNWdWcmpzUmgxQk9BYWYtb3JzIiwicGxhY2VOYW1lIjoiSmF5YW5hZ2FyIn0seyJsYXQiOjEyLjk3ODM2OTIsImxvbiI6NzcuNjQwODM1NiwicGxhY2VJZCI6IkNoSUprUU4zR0tRV3Jqc1JOaEJRSnJoR0Q3VSIsInBsYWNlTmFtZSI6IkluZGlyYW5hZ2FyIn1d&radius=2.0&city=bangalore&locality=Rajajinagar,&locality=Jayanagar,&locality=Indiranagar'
page = requests.get(url,'lxml')
soup = BeautifulSoup(page.content)
df = []
for main_file in soup.find_all('article'):
    name = main_file.find('span',class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full").text
    location = main_file.find('div',class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95").text

    if 'Jayanagar' in name:
        area = 'Jayanagar'
    elif 'Rajaji Nagar' in name:
        area = 'Rajaji Nagar'
    else:
        area = 'Indiranagar'
    rent = main_file.find('div',class_="flex flex-col w-33pe items-center bo tp:w-half po:w-full border-r-0").div.text
    dep = []
    for subfile in main_file.find_all('div',class_="font-semi-bold heading-6"):
        dep.append(subfile.text.strip('₹'))
    emi = dep[1]
    df.append([name,location,area,rent,emi])
NoBroker = pd.DataFrame(df,columns=['House Title','Location','Area','Price','EMI'])
NoBroker

,House Title,Location,Area,Price,EMI
0,"2 BHK Flat For Sale In Jains Prakruti, Jayan...","Kanakapura Road, Jayanagar, Bangalore, Karnata...",Jayanagar,₹1.5 Crores,"85,971/Month"
1,4 BHK In Independent House For Sale In Jayan...,"Independent House, SBI Branch Jayanagar 9th bl...",Jayanagar,₹2.7 Crores,1.55 Lacs/Month
2,3 BHK Flat For Sale In Benaka Apartments In ...,"871, 5th Cross Rd, Indira Nagar 1st Stage, Sta...",Indiranagar,₹85 Lacs,"48,717/Month"
3,4+ BHK In Independent House For Sale In Prak...,"Independent House, 6th C cross 3rd main rd nea...",Rajaji Nagar,₹1.35 Crores,"77,374/Month"
4,3 BHK Apartment For Sale In Brigade Gateway ...,"Brigade Gateway Dr Rajkumar Road, Rajaji Naga...",Rajaji Nagar,₹2.62 Crores,1.5 Lacs/Month

#### Using BeautifulSoup and Selenium for web scraping nobroker.com

In [16]:
from selenium import webdriver
PATH = 'C:\Program Files (x86)\chromedriver.exe'
driver = webdriver.Chrome(PATH)
URL = "https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45OTgxNzMyLCJsb24iOjc3LjU1MzA0NDU5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnhmVzREUE05cmpzUktzTlRHLTVwX1FRIiwicGxhY2VOYW1lIjoiUmFqYWppbmFnYXIifSx7ImxhdCI6MTIuOTMwNzczNSwibG9uIjo3Ny41ODM4MzAyLCJwbGFjZUlkIjoiQ2hJSjJkZGxaNWdWcmpzUmgxQk9BYWYtb3JzIiwicGxhY2VOYW1lIjoiSmF5YW5hZ2FyIn0seyJsYXQiOjEyLjk3ODM2OTIsImxvbiI6NzcuNjQwODM1NiwicGxhY2VJZCI6IkNoSUprUU4zR0tRV3Jqc1JOaEJRSnJoR0Q3VSIsInBsYWNlTmFtZSI6IkluZGlyYW5hZ2FyIn1d&radius=2.0&city=bangalore&locality=Rajajinagar,&locality=Jayanagar,&locality=Indiranagar"
driver.get(URL)

no_of_listing = int(input('Enter the number of listings needed :'))
page = driver.page_source
soup = BeautifulSoup(page)
df = []
count = 1
while count<no_of_listing:
    for main_file in soup.find_all('article'):
        name = main_file.find('span',class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full").text
        location = main_file.find('div',class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95").text

        if 'Jayanagar' in name:
            area = 'Jayanagar'
        elif 'Rajaji Nagar' in name:
            area = 'Rajaji Nagar'
        else:
            area = 'Indiranagar'
        rent = main_file.find('div',class_="flex flex-col w-33pe items-center bo tp:w-half po:w-full border-r-0").div.text
        dep = []
        for subfile in main_file.find_all('div',class_="font-semi-bold heading-6"):
            dep.append(subfile.text.strip('₹'))
        emi = dep[1]
        df.append([name,location,area,rent,emi])
        count +=1
NoBroker = pd.DataFrame(df,columns=['House Title','Location','Area','Price','EMI'])
NoBroker

<ipython-input-16-92a955bbc370>:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH)

Enter the number of listings needed :10000

,House Title,Location,Area,Price,EMI
0,"2 BHK Flat For Sale In Jains Prakruti, Jayan...","Kanakapura Road, Jayanagar, Bangalore, Karnata...",Jayanagar,₹1.5 Crores,"85,971/Month"
1,4 BHK In Independent House For Sale In Jayan...,"Independent House, SBI Branch Jayanagar 9th bl...",Jayanagar,₹2.7 Crores,1.55 Lacs/Month
2,3 BHK Flat For Sale In Benaka Apartments In ...,"871, 5th Cross Rd, Indira Nagar 1st Stage, Sta...",Indiranagar,₹85 Lacs,"48,717/Month"
3,4+ BHK In Independent House For Sale In Prak...,"Independent House, 6th C cross 3rd main rd nea...",Rajaji Nagar,₹1.35 Crores,"77,374/Month"
4,3 BHK Apartment For Sale In Brigade Gateway ...,"Brigade Gateway Dr Rajkumar Road, Rajaji Naga...",Rajaji Nagar,₹2.62 Crores,1.5 Lacs/Month
...,...,...,...,...,...
9995,"2 BHK Flat For Sale In Jains Prakruti, Jayan...","Kanakapura Road, Jayanagar, Bangalore, Karnata...",Jayanagar,₹1.5 Crores,"85,971/Month"
9996,4 BHK In Independent House For Sale In Jayan...,"Independent House, SBI Branch Jayanagar 9th bl...",Jayanagar,₹2.7 Crores,1.55 Lacs/Month
9997,3 BHK Flat For Sale In Benaka Apartments In ...,"871, 5th Cross Rd, Indira Nagar 1st Stage, Sta...",Indiranagar,₹85 Lacs,"48,717/Month"
9998,4+ BHK In Independent House For Sale In Prak...,"Independent House, 6th C cross 3rd main rd nea...",Rajaji Nagar,₹1.35 Crores,"77,374/Month"
9999,3 BHK Apartment For Sale In Brigade Gateway ...,"Brigade Gateway Dr Rajkumar Road, Rajaji Naga...",Rajaji Nagar,₹2.62 Crores,1.5 Lacs/Month

## 9) Write a python program to scrape mentioned details from dineout.co.in :
    i) Restaurant name
    ii) Cuisine
    iii) Location
    iv) Ratings
    v) Image URL

In [17]:
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special','lxml')
page
soup = BeautifulSoup(page.content)
dineout = []
for main_file in soup.find_all('div',class_="restnt-card restaurant"):
    Restaurant_Name = main_file.div.a.text
    Cuisine = main_file.find('span',class_="double-line-ellipsis").a.text
    Location = main_file.find('div',class_="restnt-loc ellipsis").text
    Rating = main_file.find('div',class_="restnt-rating rating-4").text
    Image_url = main_file.find('img',class_="no-img")['data-src']
    dineout.append([Restaurant_Name,Cuisine,Location,Rating,Image_url])
Dineout = pd.DataFrame(dineout,columns=['Restaurant_Name','Cuisine','Location','Rating','Image_url'])
Dineout

,Restaurant_Name,Cuisine,Location,Rating,Image_url
0,Castle Barbeque,North Indian,"Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,North Indian,"3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,Chinese,"Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,Italian,"The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,North Indian,"Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,North Indian,"Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,World Cafe,North Indian,"Vibe by The Lalit Traveller,Sector 35, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,North Indian,"Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,Mad 4 Bar B Que,North Indian,"Sector 29, Faridabad",3.6,https://im1.dineout.co.in/images/uploads/resta...
11,Barbeque 29,North Indian,"NIT, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,Glasshouse,European,"DoubleTree By Hilton Gurugram Baani Square,Sec...",4,https://im1.dineout.co.in/images/uploads/resta...

## 10) Write a python program to scrape first 10 product details which include product name , price , Image URL from https://www.bewakoof.com/women-clothing.

### Using BeautifulSoup and Selenium

In [18]:
number_of_listing = int(input('Enter the number of listings needed : '))

from selenium import webdriver
PATH = 'C:\Program Files (x86)\chromedriver.exe'
url = 'https://www.bewakoof.com/women-clothing'
driver = webdriver.Chrome(PATH)
driver.get(url)

page = driver.page_source
soup = BeautifulSoup(page)
bewakoof = []
URL = []
count = 0
while  count != number_of_listing:
    for main_file in soup.find_all('div',class_="productCardDetail"):
            name = main_file.find('h3').text
            price = main_file.find('span',class_='discountedPriceText' ).text
            org_price = main_file.find('span',attrs={'class':'actualPriceText'}).text
            if (len(name))>0 or len(price)>0:
                bewakoof.append([name,price,org_price])
                count+=1
    
    for main_file in soup.find_all('div',class_="productImg"):
            url1 = main_file.find('img')['src']
            URL.append(url1)
            
df1 = pd.DataFrame(URL)              
df = pd.DataFrame(bewakoof,columns=['Name','Discounted Price','Actual Price'])
df['URL']=df1
df

Enter the number of listings needed : 10000

<ipython-input-18-60d3b049f8c1>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH)

,Name,Discounted Price,Actual Price,URL
0,Marshmello Mask Round Neck 3/4th Sleeve T-Shirt,₹ 249,499,https://images.bewakoof.com/t320/meteor-grey-b...
1,Women's Blue Escape The Ordinary Boyfriend T-s...,₹ 399,549,https://images.bewakoof.com/t320/nimbus-grey-b...
2,Not Ordinary Round Neck 3/4th Sleeve T-Shirt,₹ 249,799,https://images.bewakoof.com/t320/meteor-grey-b...
3,Meteor Grey Boyfriend T-Shirt,₹ 349,399,https://images.bewakoof.com/t320/nimbus-grey-b...
4,Minimal Believe Round Neck 3/4th Sleeve T-Shirt,₹ 249,499,https://images.bewakoof.com/t320/meteor-grey-b...
...,...,...,...,...
9995,Women's Black Believe Slim Fit T-shirt,₹ 299,499,NaN
9996,Women's Black Believe Boyfriend T-shirt,₹ 399,549,NaN
9997,Nimbus Grey Round Neck 3/4th Sleeve T-Shirt,₹ 249,399,NaN
9998,Nimbus Grey Boyfriend T-Shirt,₹ 349,399,NaN
9999,Asche Bochor Round Neck 3/4th Sleeve T-Shirt N...,₹ 249,499,NaN