## 4) Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7vbp .

In [1]:
from bs4 import BeautifulSoup
import requests
import lxml
import numpy as np
import pandas as pd

In [7]:
no_pages = int(input('Please enter the number of pages you want the data for :'))+1

URL = []
for i in range(1,no_pages):
    url = ('https://meesho.com/bags-ladies/pl/p7vbp?page={}'.format(i))
    URL.append(url)

meesho = []
for i in URL:
    page = requests.get(i)
    soup = BeautifulSoup(page.content)
    for main_file in soup.find_all('div',class_='sc-dkzDqf ProductList__GridCol-sc-8lnc8o-0 kEYUOG ZnDzz'):
        title = main_file.a.p.text
        price = main_file.a.h5.text.replace('₹','')
        discount = main_file.find('div',class_="Card__BaseCard-sc-b3n78k-0 fVRkfg NewProductCard__PriceRow-sc-j0e7tu-5 dYYUrF NewProductCard__PriceRow-sc-j0e7tu-5 dYYUrF").span.text.split(' ')[0]
        meesho.append([title,price,discount])
meesho_final = pd.DataFrame(meesho,columns=['Product Name','Price','Discounts'])
#meesho_final.to_excel('Meesho.xlsx')
meesho_final

Please enter the number of pages you want the data for :100

                          Product Name Price Discounts
0                             HANDBAGS   336       23%
1        Graceful Fancy Women Handbags   234       30%
2     Classic Versatile Women Handbags   610       14%
3      Voguish Alluring Women Handbags  1223        8%
4      Gorgeous Stylish Women Handbags   484       17%
...                                ...   ...       ...
1595   Graceful Stylish Women Handbags   210       30%
1596   Ravishing Classy Women Handbags   884       10%
1597     Trendy Stylish Women Handbags   702       12%
1598     Elite Alluring Women Handbags   595       14%
1599    Voguish Stylish Women Handbags   244       29%

[1600 rows x 3 columns]