## 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [22]:
from bs4 import BeautifulSoup
import requests
import lxml
import numpy as np
import pandas as pd

In [92]:
URL = 'https://www.imdb.com/india/top-rated-indian-movies/'
page = requests.get(URL).text
soup = BeautifulSoup(page,'lxml')

df_1 = []
for td in soup.find_all('td',class_="titleColumn"):
    Rank = td.text.strip().split('\n')[0].strip('.')
    Name = td.text.strip().split('\n')[1]
    Year = td.text.strip().split('\n')[2].strip('()')
    df_1.append([Rank,Name,Year])
df_2 = []
for td in soup.find_all('td',class_="ratingColumn imdbRating"):
    Rating = td.text.strip()
    df_2.append([Rating])
df1 = pd.DataFrame(df_1,columns=['Rank','Name','Year'])
df2 = pd.DataFrame(df_2,columns=['Rating'])
df1['Rating'] = df2
df1
imdb_top100_Indian_Movies = df1.iloc[:100,:]
imdb_top100_Indian_Movies

   Rank                           Name  Year Rating
0     1                       Jai Bhim  2021    8.4
1     2                     Anbe Sivam  2003    8.4
2     3              Pariyerum Perumal  2018    8.4
3     4                        Golmaal  1979    8.4
4     5                        Nayakan  1987    8.4
..  ...                            ...   ...    ...
95   96                         Sholay  1975    8.0
96   97               K.G.F: Chapter 1  2018    8.0
97   98                         Angoor  1982    8.0
98   99                      Virumandi  2004    8.0
99  100        Maheshinte Prathikaaram  2016    8.0

[100 rows x 4 columns]