## 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

In [1]:
from bs4 import BeautifulSoup
import requests
import lxml
import numpy as np
import pandas as pd

### a) Top 10 ODI teams in menâ€™s cricket along with the records for matches, points and rating.

In [8]:
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
page = requests.get(url).text
soup = BeautifulSoup(page,'lxml')

data = []
main_file1 = soup.find('tr',class_="rankings-block__banner")
position = main_file1.find('td',class_="rankings-block__banner--pos").text
team = main_file1.find('span',class_="u-hide-phablet").text
matches = main_file1.find('td',class_="rankings-block__banner--matches").text
points = main_file1.find('td',class_="rankings-block__banner--points").text
rating = main_file1.find('td',class_="rankings-block__banner--rating u-text-right").text.strip()
data.append([position,team,matches,points,rating])


data1 = []
counter = 1
for main_file in soup.find_all('tr',class_="table-body"):
    if counter != 10:
        position = main_file.td.text
        team = main_file.find('span',class_="u-hide-phablet").text
        m = []
        for x in main_file.find_all('td',class_="table-body__cell u-center-text"):
            m.append(x.text)
        matches = m[0]
        points = m[1]
        rating = main_file.find('td',class_="table-body__cell u-text-right rating").text
        data1.append([position,team,matches,points,rating])
        counter+=1
    else:
        break
final_df = data+data1
Top_10_ODI_teams_men = pd.DataFrame(final_df,columns=['Position','Team','Matches','Points','Rating']).style.hide_index()
Top_10_ODI_teams_men

### b) Top 10 ODI Batsmen along with the records of their team and rating.

In [9]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting').text
soup = BeautifulSoup(page,'lxml')

data1 = []
main_file1 = soup.find('tr',class_="rankings-block__banner")
name = main_file1.find('div',class_="rankings-block__banner--name-large").text
team = main_file1.find('div',class_="rankings-block__banner--nationality").text.strip()
points = main_file1.find('div',class_="rankings-block__banner--rating").text
career_best = main_file1.find('span',class_="rankings-block__career-best-text").text.strip().split(',')[0]
career_best_date = main_file1.find('span',class_="rankings-block__career-best-text").text.strip().split(',')[1]
data1.append([name,team,points,career_best,career_best_date])


data = []
counter = 1
for main_file in soup.find_all('tr',class_="table-body"):
    if counter != 10:
        name = main_file.find('td',class_="table-body__cell rankings-table__name name").a.text
        team = main_file.find('span',class_="table-body__logo-text").text
        points = main_file.find('td',class_="table-body__cell rating").text
        career_best = main_file.find('td',class_="table-body__cell u-text-right u-hide-phablet").text.strip().split(',')[0]
        career_best_date = main_file.find('td',class_="table-body__cell u-text-right u-hide-phablet").text.strip().split(',')[1]
        data.append([name,team,points,career_best,career_best_date])
        counter+=1
    else:
        break


final_df = data1+data
Top_10_men_Batting_players=pd.DataFrame(final_df,columns=['Player','Team','Rating','Career Best Rating','Career Best Date'])
Top_10_men_Batting_players

                  Player Team Rating Career Best Rating Career Best Date
0             Babar Azam  PAK    873      873 v England       13/07/2021
1            Virat Kohli  IND    811      911 v England       12/07/2018
2        Quinton de Kock   SA    796    813 v Sri Lanka       10/03/2019
3           Rohit Sharma  IND    791    885 v Sri Lanka       06/07/2019
4            Aaron Finch  AUS    779      798 v England       25/06/2019
5  Rassie van der Dussen   SA    776   776 v Bangladesh       20/03/2022
6         Jonny Bairstow  ENG    775        796 v India       26/03/2021
7           David Warner  AUS    762     880 v Pakistan       26/01/2017
8           Fakhar Zaman  PAK    741      779 v England       08/07/2021
9               Joe Root  ENG    740    824 v Sri Lanka       13/10/2018

### c) Top 10 ODI bowlers along with the records of their team and rating.

In [10]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling').text
soup = BeautifulSoup(page,'lxml')

data1 = []
main_file1 = soup.find('tr',class_="rankings-block__banner")
name = main_file1.find('div',class_="rankings-block__banner--name-large").text
team = main_file1.find('div',class_="rankings-block__banner--nationality").text.strip()
points = main_file1.find('div',class_="rankings-block__banner--rating").text
career_best = main_file1.find('span',class_="rankings-block__career-best-text").text.strip().split(',')[0]
career_best_date = main_file1.find('span',class_="rankings-block__career-best-text").text.strip().split(',')[1]
data1.append([name,team,points,career_best,career_best_date])


data = []
counter = 1
for main_file in soup.find_all('tr',class_="table-body"):
    if counter != 10:
        name = main_file.find('td',class_="table-body__cell rankings-table__name name").a.text
        team = main_file.find('span',class_="table-body__logo-text").text
        points = main_file.find('td',class_="table-body__cell rating").text
        career_best = main_file.find('td',class_="table-body__cell u-text-right u-hide-phablet").text.strip().split(',')[0]
        career_best_date = main_file.find('td',class_="table-body__cell u-text-right u-hide-phablet").text.strip().split(',')[1]
        data.append([name,team,points,career_best,career_best_date])
        counter+=1
    else:
        break


final_df = data1+data
Top_10_men_Bowling_players=pd.DataFrame(final_df,columns=['Player','Team','Rating','Career Best Rating','Career Best Date'])
Top_10_men_Bowling_players

             Player Team Rating Career Best Rating Career Best Date
0       Trent Boult   NZ    737  770 v West Indies       22/06/2019
1    Josh Hazlewood  AUS    709      733 v England       26/01/2018
2      Chris Woakes  ENG    700    711 v Sri Lanka       04/07/2021
3        Matt Henry   NZ    691   691 v Bangladesh       26/03/2021
4  Mujeeb Ur Rahman  AFG    681      712 v Ireland       24/01/2021
5    Jasprit Bumrah  IND    679  841 v West Indies       01/11/2018
6      Mehedi Hasan  BAN    664    725 v Sri Lanka       25/05/2021
7     Kagiso Rabada   SA    658      724 v England       29/05/2017
8    Mitchell Starc  AUS    652  783 v New Zealand       29/03/2015
9       Rashid Khan  AFG    650     806 v Pakistan       21/09/2018