## 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release and make data frame.

In [1]:
from bs4 import BeautifulSoup
import requests
import lxml
import numpy as np
import pandas as pd

In [3]:
URL1 = 'https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc'
URL2 = 'https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt'
page1 = requests.get(URL1)
page2 = requests.get(URL2)
page1
page2

In [4]:
soup = BeautifulSoup(page1.content)
soup2 = BeautifulSoup(page2.content)

In [5]:
df_f = []
for main_file in soup.find_all('div',class_="lister-item-content"):
    heading = main_file.h3.a.text
    rating = main_file.find('div',class_="inline-block ratings-imdb-rating").text.strip('\n')
    release_year = main_file.h3.find("span",class_="lister-item-year text-muted unbold").text.strip('()')
    df = (heading,rating,release_year)
    df_f.append(df)
for main_file in soup2.find_all('div',class_="lister-item-content"):
    heading = main_file.h3.a.text
    rating = main_file.find('div',class_="inline-block ratings-imdb-rating").text.strip('\n')
    release_year = main_file.h3.find("span",class_="lister-item-year text-muted unbold").text.strip('()')
    df = (heading,rating,release_year)
    df_f.append(df)
df_final = pd.DataFrame(df_f,columns=['Movie_Name','Rating','Year'])
df_final

                                       Movie_Name Rating  Year
0                        The Shawshank Redemption    9.3  1994
1                                   The Godfather    9.2  1972
2                                 The Dark Knight    9.1  2008
3   The Lord of the Rings: The Return of the King    9.0  2003
4                                Schindler's List    9.0  1993
..                                            ...    ...   ...
95                             North by Northwest    8.3  1959
96                                        Vertigo    8.3  1958
97                            Singin' in the Rain    8.3  1952
98                                   Citizen Kane    8.3  1941
99              M - Eine Stadt sucht einen Mörder    8.3  1931

[100 rows x 3 columns]