In [1]:
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import NoSuchElementException

1. Scrape the details of most viewed videos on YouTube from Wikipedia.

    - Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

    You need to find following details:
        - A) Rank
        - B) Name
        - C) Artist
        - D) Upload date
        - E) Views

In [2]:
PATH = 'C:\Program Files (x86)\chromedriver.exe'
driver = webdriver.Chrome(PATH)

In [3]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.maximize_window()

In [4]:
Rank=[]
Name = []
Artist = []
Views = []
Upload_Date = []
main1=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[1]")
for i in main1:
    rank = i.text.strip(".")
    Rank.append(rank)
Rank = Rank[:30]
Name = []
main2 = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[2]")
for i in main2:
    name = i.text.split('[')[0]
    Name.append(name)
Name = Name[:30]
main3 = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[3]")
for i in main3:
    artist = i.text
    Artist.append(artist)
Artist = Artist[:30]
main4 = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[4]")
for i in main4:
    views = i.text
    Views.append(views)
Views = Views[:30]
main5 = driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[5]")
for i in main5:
    date = i.text
    Upload_Date.append(date)
Upload_Date = Upload_Date[:30]
wiki_most_viewed_vids = pd.DataFrame()
wiki_most_viewed_vids['Rank']=Rank
wiki_most_viewed_vids['Name']=Name
wiki_most_viewed_vids['Artist']=Artist
wiki_most_viewed_vids['Views (Billions)']=Views
wiki_most_viewed_vids['Upload Date']=Upload_Date
driver.close()
wiki_most_viewed_vids

,Rank,Name,Artist,Views (Billions),Upload Date
0,1,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,10.72,"June 17, 2016"
1,2,"""Despacito""",Luis Fonsi,7.85,"January 12, 2017"
2,3,"""Johny Johny Yes Papa""",LooLoo Kids,6.36,"October 8, 2016"
3,4,"""Shape of You""",Ed Sheeran,5.72,"January 30, 2017"
4,5,"""See You Again""",Wiz Khalifa,5.52,"April 6, 2015"
...,...,...,...,...,...
25,26,"""Lean On""",Major Lazer,3.21,"March 22, 2015"
26,27,"""Shake It Off""",Taylor Swift,3.17,"August 18, 2014"
27,28,"""Perfect""",Ed Sheeran,3.17,"November 9, 2017"
28,29,"""Waka Waka (This Time for Africa)""",Shakira,3.14,"June 4, 2010"
29,30,"""Mi Gente""",J Balvin,3.08,"June 29, 2017"

2. Scrape the details team India’s international fixtures from bcci.tv.

    - Url = https://www.bcci.tv/.
    
    - You need to find following details:
        - A) Match title (I.e. 1st ODI)
        - B) Series
        - C) Place
        - D) Date
        - E) Time


Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [66]:
PATH = 'C:\Program Files (x86)\chromedriver.exe'
driver = webdriver.Chrome(PATH)

In [68]:
import time

In [69]:
driver.get('https://www.bcci.tv/')
driver.maximize_window()
time.sleep(10)
driver.find_element_by_xpath('//li[@class="nav-item"]').click()
time.sleep(5)
Name = []
Series = []
Place = []
Date = []
Time = []
main = driver.find_elements_by_xpath('//div[@class="fixture-card-main col-lg-3 col-md-6 col-sm-12 ng-scope"]')
for i in main:
    series = i.text.split('\n')[0]
    Series.append(series)
    date = i.text.split('\n')[1]
    Date.append(date)
    time = i.text.split('\n')[2]
    Time.append(time)
    name = i.text.split('\n')[-2].split(' -')[0]
    Name.append(name)
    place = i.text.split('\n')[-2].split('- ')[1]
    Place.append(place)
driver.close()
bcci = pd.DataFrame()
bcci['Match Title'] = Name
bcci['Series']=Series
bcci['Place']=Place
bcci['Date']=Date
bcci['Time']=Time
bcci

,Match Title,Series,Place,Date,Time
0,1st T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Arun Jaitley Stadium, Delhi",9 JUN 2022,LIVE
1,2nd T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Barabati Stadium, Cuttack",12 JUN 2022,7:00 PM IST
2,3rd T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium, Visakhapatnam",14 JUN 2022,7:00 PM IST
3,4th T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Saurashtra Cricket Association Stadium, Rajkot",17 JUN 2022,7:00 PM IST
4,5th T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"M Chinnaswamy Stadium, Bengaluru",19 JUN 2022,7:00 PM IST

3. Scrape the details of selenium exception from guru99.com.
    
    - Url = https://www.guru99.com/
    - You need to find following details:
        - A) Name
        - B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [91]:
PATH = 'C:\Program Files (x86)\chromedriver.exe'
driver = webdriver.Chrome(PATH)
import time
driver.get('https://www.guru99.com/')
driver.maximize_window()
time.sleep(3)
driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]').click()
time.sleep(3)
driver.find_element_by_xpath('//*[@id="post-193"]/div/div/table[5]/tbody/tr[34]/td[1]/a').click()
time.sleep(5)
Name = []
Description = []
main = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr')
for i in main:
    name = i.text.split(' ')[0]
    Name.append(name)
    description = i.text.partition(' ')[2]
    Description.append(description)
driver.close()
Name = Name[1:]
Description = Description[1:]
guru = pd.DataFrame()
guru['Name'] = Name
guru['Description'] = Description
guru

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.
1,ElementNotSelectableException,"This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact."
2,NoSuchElementException,This Exception occurs if an element could not be found.
3,NoSuchFrameException,This Exception occurs if the frame target to be switched to does not exist.
4,NoAlertPresentException,This Exception occurs when you switch to no presented alert.
...,...,...
36,UnhandledAlertException,"This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation."
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an unexpected alert.
38,UnknownMethodException,This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.
39,UnreachableBrowserException,This Exception occurs only when the browser is not able to be opened or crashed because of some reason.
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t send valid commands as expected.

4. Scrape the details of State-wise GDP of India from statisticstime.com.

    - Url = http://statisticstimes.com/
    - You have to find following details:
        - A) Rank
        - B) State
        - C) GSDP(18-19)
        - D) GSDP(17-18)
        - E) Share(2017)
        - F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code

In [322]:
PATH = 'C:\Program Files (x86)\chromedriver.exe'
driver = webdriver.Chrome(PATH)
driver.maximize_window()
import time
from selenium.common.exceptions import NoSuchElementException

In [323]:
driver.get('https://www.statisticstimes.com/')
time.sleep(5)

In [324]:
from selenium.webdriver.common.action_chains import ActionChains
action = ActionChains(driver)
element = driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]')
action.move_to_element(element).perform()
driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]').click()
time.sleep(5)
driver.back()
driver.forward()
driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
driver.find_element_by_xpath('//*[@id="vi_slider_close"]').click()

In [331]:
Rank = []
State = []
GSDP19_20 = []
GSDP18_19 = []
Share = []
GDP = []
for i in range(1,34):
    rank = driver.find_element_by_xpath(f'//*[@id="table_id"]/tbody/tr[{i}]/td[1]').text
    Rank.append(rank)
    state = driver.find_element_by_xpath(f'//*[@id="table_id"]/tbody/tr[{i}]/td[2]').text
    State.append(state)
    gs = driver.find_element_by_xpath(f'//*[@id="table_id"]/tbody/tr[{i}]/td[3]').text
    GSDP19_20.append(gs)
    gsd = driver.find_element_by_xpath(f'//*[@id="table_id"]/tbody/tr[{i}]/td[4]').text
    GSDP18_19.append(gsd)
    share = driver.find_element_by_xpath(f'//*[@id="table_id"]/tbody/tr[{i}]/td[5]').text
    Share.append(share)
    gdp = driver.find_element_by_xpath(f'//*[@id="table_id"]/tbody/tr[{i}]/td[6]').text
    GDP.append(gdp)
driver.close()
df = pd.DataFrame()
df['Rank'] = Rank
df['State']=State
df['GSDP 19-20'] = GSDP19_20
df['GSDP 18-19'] = GSDP18_19
df['Share'] = Share
df['GDP'] = GDP
df = df.set_index('Rank')
df

                          State GSDP 19-20 GSDP 18-19   Share      GDP
Rank
1                   Maharashtra          -  2,632,792  13.94%  399.921
2                    Tamil Nadu  1,845,853  1,630,208   8.63%  247.629
3                 Uttar Pradesh  1,687,818  1,584,764   8.39%  240.726
4                       Gujarat          -  1,502,899   7.96%  228.290
5                     Karnataka  1,631,977  1,493,127   7.91%  226.806
6                   West Bengal  1,253,832  1,089,898   5.77%  165.556
7                     Rajasthan  1,020,989    942,586   4.99%  143.179
8                Andhra Pradesh    972,782    862,957   4.57%  131.083
9                     Telangana    969,604    861,031   4.56%  130.791
10               Madhya Pradesh    906,672    809,592   4.29%  122.977
11                       Kerala          -    781,653   4.14%  118.733
12                        Delhi    856,112    774,870   4.10%  117.703
13                      Haryana    831,610    734,163   3.89%  111.519
14                        Bihar    611,804    530,363   2.81%   80.562
15                       Punjab    574,760    526,376   2.79%   79.957
16                       Odisha    521,275    487,805   2.58%   74.098
17                        Assam          -    315,881   1.67%   47.982
18                 Chhattisgarh    329,180    304,063   1.61%   46.187
19                    Jharkhand    328,598    297,204   1.57%   45.145
20                  Uttarakhand          -    245,895   1.30%   37.351
21              Jammu & Kashmir          -    155,956   0.83%   23.690
22             Himachal Pradesh    165,472    153,845   0.81%   23.369
23                          Goa     80,449     73,170   0.39%   11.115
24                      Tripura     55,984     49,845   0.26%    7.571
25                   Chandigarh          -     42,114   0.22%    6.397
26                   Puducherry     38,253     34,433   0.18%    5.230
27                    Meghalaya     36,572     33,481   0.18%    5.086
28                       Sikkim     32,496     28,723   0.15%    4.363
29                      Manipur     31,790     27,870   0.15%    4.233
30                     Nagaland          -     27,283   0.14%    4.144
31            Arunachal Pradesh          -     24,603   0.13%    3.737
32                      Mizoram     26,503     22,287   0.12%    3.385
33    Andaman & Nicobar Islands          -          -       -        -

5. Scrape the details of trending repositories on Github.com.
    - Url = https://github.com/
    - You have to find the following details:
        - A) Repository title
        - B) Repository description
        - C) Contributors count
        - D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [332]:
PATH = 'C:\Program Files (x86)\chromedriver.exe'
driver = webdriver.Chrome(PATH)
driver.maximize_window()
import time
from selenium.common.exceptions import NoSuchElementException

In [339]:
driver.get('https://github.com/')
time.sleep(3)
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/button').click()
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary').click()
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a').click()
time.sleep(5)

In [548]:
Repository_Title = []
t = driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]')
for i in t:
    title = i.text
    Repository_Title.append(title)
Description = []
d = driver.find_elements_by_xpath('//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in d:
    description = i.text
    Description.append(description)
Language = []
l = driver.find_elements_by_xpath('//article[@class="Box-row"]//div[2]')
for i in l:
    try:
        Language.append(i.text.split(' ')[-7])
    except:
        Language.append('-')
Count=[]
try:
    for i in range(1,26):
        i = str(i)
        c = driver.find_elements_by_xpath(f"//article[@class='Box-row'][{i}]//span//a")
        length = len(c)
        Count.append(length)
except:
    count.append("--")
count

github = pd.DataFrame()
github['Repository Title'] = Repository_Title
github['Repository Description'] = Description
github['Contributors Count'] = Count 
github['Language Used'] = Language
github

,Repository Title,Repository Description,Contributors Count,Language Used
0,PaperMC / Paper,High performance Spigot fork that aims to fix gameplay and mechanics inconsistencies,5,Java
1,android / nowinandroid,A fully functional Android app built entirely with Kotlin and Jetpack Compose,5,Kotlin
2,borisdayma / dalle-mini,DALL·E Mini - Generate images from a text prompt,5,Python
3,doocs / source-code-hunter,😱 从源码层面，剖析挖掘互联网行业主流技术的底层实现原理，为广大开发者 “提升技术深度” 提供便利。目前开放 Spring 全家桶，Mybatis、Netty、Dubbo 框架，及 Redis、Tomcat 中间件等,5,Java
4,ahmedtariq01 / Cloud-DevOps-Learning-Resources,"This repo includes Books and imp notes related to GCP, Azure, AWS, Docker, K8s, and DevOps. More, exam and interview prep notes.",1,-
...,...,...,...,...
20,angular / angular-cli,CLI tool for Angular,5,TypeScript
21,LinuxSuRen / remote-jobs-in-china,支持远程办公的中国公司,5,-
22,hasura / graphql-engine,"Blazing fast, instant realtime GraphQL APIs on your DB with fine grained access control, also trigger webhooks on database events.",5,Haskell
23,facebook / jest,Delightful JavaScript Testing.,5,TypeScript
24,aquasecurity / trivy,"Scanner for vulnerabilities in container images, file systems, and Git repositories, as well as for configuration issues and hard-coded secrets",5,Go

6. Scrape the details of top 100 songs on billiboard.com.
    - Url = https:/www.billboard.com/
    - You have to find the following details:
        - A) Song name
        - B) Artist name
        - C) Last week rank
        - D) Peak rank
        - E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [25]:
PATH = 'C:\Program Files (x86)\chromedriver.exe'
driver = webdriver.Chrome(PATH)
driver.maximize_window()
import time

In [26]:
driver.get('https://www.billboard.com/')
time.sleep(2)
driver.find_element_by_xpath('//*[@id="main-wrapper"]/header/div[2]/div/nav/ul/li[1]/a').click()
time.sleep(4)
Rank = []
Song_Name = []
Artist_name = []
Last_Rank = []
Peak = []
Weeks = []
main = driver.find_elements_by_xpath('//div[@class="o-chart-results-list-row-container"]')
for i in main:
    rank = i.text.split('\n')[0]
    Rank.append(rank)

    s_name = i.text.split('\n')[-5]
    Song_Name.append(s_name)
    
    a_name = i.text.split('\n')[-4]
    Artist_name.append(a_name)

    last = i.text.split('\n')[-3]
    Last_Rank.append(last)

    peak = i.text.split('\n')[-2]
    Peak.append(peak)

    weeks = i.text.split('\n')[-1]
    Weeks.append(weeks)
driver.close()
Billboards = pd.DataFrame()
Billboards['Rank'] =  Rank
Billboards['Song Name'] = Song_Name
Billboards['Artist Name'] = Artist_name
Billboards['Last Week Rank'] = Last_Rank
Billboards['Peak Rank'] = Peak
Billboards['Weeks on Board'] = Weeks
Billboards = Billboards.set_index('Rank')
Billboards

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
Rank,,,,,
1,As It Was,Harry Styles,1,1,9
2,First Class,Jack Harlow,2,1,8
3,Wait For U,Future Featuring Drake & Tems,3,1,5
4,About Damn Time,Lizzo,5,4,7
5,Heat Waves,Glass Animals,6,1,72
...,...,...,...,...,...
96,Love You Better,Future,84,12,5
97,Wild Hearts,Keith Urban,-,97,1
98,Last Night Lonely,Jon Pardi,-,98,1
99,7500 OBO,Tim McGraw,-,99,1
100,Until I Found You,Stephen Sanchez,-,100,1

7. Scrape the details of Data science recruiters from naukri.com.
    - Url = https://www.naukri.com/hr-recruiters-consultants
    - You have to find the following details:
        - A) Name
        - B) Designation
        - C) Company
        - D) Skills they hire for
        - E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [2]:
Name = []
Designation = []
Company = []
Skills = []
Location = []
Number = int(input('Enter the number of pages to scrap the data from :'))
PATH = 'C:\Program Files (x86)\chromedriver.exe'
driver = webdriver.Chrome(PATH)
url= 'https://www.naukri.com/hr-recruiters-consultants'

driver.get(url)
driver.maximize_window()
time.sleep(5)

driver.find_element_by_xpath('//*[@id="skill"]/div[1]/div[2]/input').send_keys('Data Science')

driver.find_element_by_id("qsbFormBtn").click()

for i in range(1,Number):
    try:
        main = driver.find_elements_by_xpath('//p[@class="highlightable"]')
        for i in main:
            try:
                Location.append(i.text.split('\n')[3])
                Name.append(i.text.split('\n')[0])
                Designation.append(i.text.split('\n')[1])
                Company.append(i.text.split('\n')[2])
            except:
                Location.append('-')
                Name.append('-')
                Designation.append('-')
                Company.append('-')
        main1 = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
        for i in main1:
            try:
                Skills.append(i.text)
            except:
                Skills.append('-')
    except:
        pass
    try:
        driver.find_element_by_xpath('//div[@class="pagination"]//button[2]').click()
    except:
        driver.find_element_by_xpath('//div[@class="pagination"]//button[1]').click()
driver.close()
Naukri = pd.DataFrame()
Naukri['Name'] = Name
Naukri['Designation'] = Designation
Naukri['Company'] = Company
Naukri['Skills'] = Skills
Naukri['Location'] = Location
Naukri

Enter the number of pages to scrap the data from :3

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine Learning, Business Analytics, Deep Learning, statistics, Data Analytics, Data Analysis, support vector machine",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL",UK - (london)
...,...,...,...,...,...
95,Priyanka Balodi,HR Analyst,KnowDis Data Science LLP,Data Science,Delhi
96,Jamil Akhtar,Company Recruiter,Quikkloan,Not Specified,Delhi
97,Sagar Software Solutions Pvt. Ltd.,HR Executive,Sagar Software Solutions Pvt. Ltd.,"Html, Css, Javascript, Jquery, Php, Python, Data Science, Customer Support, Digital Marketing, Business Development, MySQL, Core PHP, Front End, CPanel",Vijayawada
98,Sai Theja,Operations Lead,Sumyag Data Sciences Private Limited,"Data Science, Engineering, Data Analysis, Big Data, Python",Bengaluru / Bangalore
99,Roshan Menugu,Company Recruiter,Cyient Limited,Not Specified,Hyderabad / Secunderabad

8. Scrape the details of Highest selling novels.
    - Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
    - You have to find the following details:
        - A) Book name
        - B) Author name
        - C) Volumes sold
        - D) Publisher
        - E) Genre

In [32]:
PATH = 'C:\Program Files (x86)\chromedriver.exe'
driver = webdriver.Chrome(PATH)
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')
driver.maximize_window()

In [71]:
Rank = []
Book_Name = []
Author_Name = []
Volumes_Sold = []
Publisher = []
Genre = []
for i in range(0,100):
    r = driver.find_elements_by_id(f"table-cell-10943-{i}-0")
    for i in r:
        rank = i.text
        Rank.append(rank)
time.sleep(2)
for i in range(0,100):
    b = driver.find_elements_by_id(f"table-cell-10943-{i}-1")
    for i in b:
        book = i.text
        Book_Name.append(book)
time.sleep(2)
for i in range(0,100):
    a = driver.find_elements_by_id(f"table-cell-10943-{i}-2")
    for i in a:
        author = i.text
        Author_Name.append(author)
for i in range(0,100):
    v = driver.find_elements_by_id(f"table-cell-10943-{i}-3")
    for i in v:
        volume = i.text
        Volumes_Sold.append(volume)
for i in range(0,100):
    p = driver.find_elements_by_id(f"table-cell-10943-{i}-4")
    for i in p:
        publisher = i.text
        Publisher.append(publisher)
for i in range(0,100):
    g = driver.find_elements_by_id(f"table-cell-10943-{i}-5")
    for i in g:
        genre = i.text
        Genre.append(genre)
driver.close()
Gurdian = pd.DataFrame()
Gurdian['Rank'] = Rank
Gurdian['Book Name'] = Book_Name
Gurdian['Author Name'] = Author_Name
Gurdian['Volumes Sold'] = Volumes_Sold
Gurdian['Publisher'] = Publisher 
Gurdian['Genre'] = Genre
Gurdian = Gurdian.set_index('Rank')
Gurdian

,Book Name,Author Name,Volumes Sold,Publisher,Genre
Rank,,,,,
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
99,"Lost Boy,The:A Foster Child's Search for the Love of a Family","Pelzer, Dave","791,507",Orion,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
    - Url = https://www.imdb.com/list/ls095964455/
    - You have to find the following details:
        - A) Name
        - B) Year span
        - C) Genre
        - D) Run time
        - E) Ratings
        - F) Votes

In [102]:
PATH = 'C:\Program Files (x86)\chromedriver.exe'
driver = webdriver.Chrome(PATH)
driver.get('https://www.imdb.com/list/ls095964455/')
driver.maximize_window()
time.sleep(5)

In [103]:
Rank = []
Name = []
Year_Span = []
Genre = []
Run_Time = []
Ratings = []
Votes = []
r = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/span[1]')
for i in r:
    rank = i.text
    Rank.append(rank)
n = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]//a')
for i in n:
    name = i.text
    Name.append(name)
y = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]//span[2]')
for i in y:
    year = i.text.strip('()')
    Year_Span.append(year)
g = driver.find_elements_by_xpath('//p[@class="text-muted text-small"]//span[5]')
for i in g:
    genre = i.text
    Genre.append(genre)
rt = driver.find_elements_by_xpath('//p[@class="text-muted text-small"]//span[3]')
for i in rt:
    run = i.text
    Run_Time.append(run)
rat = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]')
for i in rat:
    rating = i.text
    Ratings.append(rating)
v = driver.find_elements_by_xpath('//p[@class="text-muted text-small"]//span[2]')
for i in v:
    vote = i.text
    if vote == '|':
        pass
    else:
        Votes.append(vote)
driver.close()
imdb = pd.DataFrame()
imdb['Rank'] = Rank
imdb['Name'] = Name
imdb['Year Span'] = Year_Span
imdb['Genre'] = Genre
imdb['Run Time'] = Run_Time
imdb['Ratings'] = Ratings
imdb['Votes'] = Votes
imdb = imdb.set_index('Rank')
imdb

,Name,Year Span,Genre,Run Time,Ratings,Votes
Rank,,,,,,
1.,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.2,"1,993,829"
2.,Stranger Things,2016–,"Drama, Fantasy, Horror",51 min,8.7,"1,030,261"
3.,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.2,"949,164"
4.,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.5,"283,594"
5.,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"243,378"
...,...,...,...,...,...,...
96.,Reign,2013–2017,"Drama, Fantasy",42 min,7.4,"48,844"
97.,A Series of Unfortunate Events,2017–2019,"Adventure, Comedy, Drama",50 min,7.8,"59,516"
98.,Criminal Minds,2005–2020,"Crime, Drama, Mystery",42 min,8.1,"190,281"
99.,Scream: The TV Series,2015–2019,"Comedy, Crime, Drama",45 min,7.1,"40,277"
100.,The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,8.6,"228,596"

10. Details of Datasets from UCI machine learning repositories.
    - Url = https://archive.ics.uci.edu/
    - You have to find the following details:
        - A) Dataset name
        - B) Data type
        - C) Task
        - D) Attribute type
        - E) No of instances
        - F) No of attribute
        - G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code

In [180]:
PATH = 'C:\Program Files (x86)\chromedriver.exe'
driver = webdriver.Chrome(PATH)

In [181]:
driver.get('https://archive.ics.uci.edu/ml/index.php')
driver.maximize_window()
time.sleep(5)
driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font').click()

In [182]:
Dataset_Name = []
Data_Type = []
Task = []
Attribute_Type = []
No_of_Instances = []
No_of_Attribute = []
Year = []
for i in range(2,624):
    j = driver.find_elements_by_xpath(f'/html/body/table[2]/tbody/tr/td[2]/table[2]//tbody//tr[{i}]')
    for i in j:
        dataset = i.text.split('\n')[0]
        Dataset_Name.append(dataset)
time.sleep(1)

for i in range(2,624):
    j = driver.find_elements_by_xpath(f'/html/body/table[2]/tbody/tr/td[2]/table[2]//tbody//tr[{i}]')
    for i in j:
        data_type = i.text.split('\n')[1]
        Data_Type.append(data_type)
time.sleep(1)

for i in range(2,624):
    j = driver.find_elements_by_xpath(f'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[3]/p')
    for i in j:
        task = i.text
        Task.append(task)
time.sleep(1)

for i in range(2,624):
    j = driver.find_elements_by_xpath(f'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[4]/p')
    for i in j:
        attribute = i.text
        Attribute_Type.append(attribute)
time.sleep(1)

for i in range(2,624):
    j = driver.find_elements_by_xpath(f'/html/body/table[2]/tbody/tr/td[2]/table[2]//tbody//tr[{i}]//td[5]//p')
    for i in j:
        instances = i.text
        No_of_Instances.append(instances)
time.sleep(1)

for i in range(2,624):
    j = driver.find_elements_by_xpath(f'/html/body/table[2]/tbody/tr/td[2]/table[2]//tbody//tr[{i}]//td[6]//p')
    for i in j:
        no_att = i.text
        No_of_Attribute.append(no_att)
time.sleep(1)

UCI = pd.DataFrame()
UCI['Dataset Name'] = Dataset_Name
UCI['Data Type'] = Data_Type
UCI['Task'] = Task
UCI['Attribute Type'] = Attribute_Type
UCI['No of Instances'] = No_of_Instances
UCI['No of Attribute'] = No_of_Attribute

In [183]:
Year = []
for i in range(2,624):
    j = driver.find_elements_by_xpath(f'/html/body/table[2]/tbody/tr/td[2]/table[2]//tbody//tr[{i}]')
    for i in j:
        try:
            year = i.text.split('\n')[6]
            Year.append(year)
        except:
            Year.append('-')
UCI['Year'] = Year
UCI

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,Recommender-Systems,Recommender-Systems,Categorical,37711,294,-
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitter data,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,Classification,Classification,,1014,7,-
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobile Edge Computing,Univariate,Regression,Real,4000,2,2021